[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openapi = "*"
langchain-openai = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-community = "*"
cohere = "*"
langchain-cohere = "*"
langchain-ollama = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.13"
